body {
    background: #384e77;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #557191, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #7191b4, #141E30);
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

h1 {
    color: black;
}

* {
    font-family: verdana;
}

.tunnels {
    color: black;
}

.tunnels a:hover {
    color: green;

}

#come:hover {
    color: saddlebrown;

}

.size {
    font-size: 50px;
}

.over_limit{
    color:red;
}
